{% extends "base.html" %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#add-user').on('click', function(){
                $('#add-user-modal').modal('show');
            });
            $('.choose-tr').dropdown({
                onChange: function(value){
                    $('#trt').val($(this).find('.item.active').attr('id'));
                }
            });

            $('.ui.radio.checkbox').checkbox();
        });
    </script>
     <div class="content error-validation-form">
            <h2>Add player</h2>
             <form action="{%url 'add_player'%}" method="post" name="add-user">
                {% csrf_token %}
                <div class="ui form segment">
                  <div class="field {%if form.name.errors %}error{% endif %}">
                    <label>Username</label>
                    <div class="ui left labeled icon input">
                      <input type="text" name="name" placeholder="Username" value="{{form.name.value}}">
                       {{form.name.errors}}
                      <i class="user icon"></i>
                      <div class="ui corner label">
                        <i class="icon asterisk"></i>
                      </div>
                    </div>
                  </div>
                  <div class="field {%if form.rating.errors%}error{%endif%}">
                    <label>ELO rating</label>
                    <div class="ui left labeled icon input">
                      <input type="text" name="rating" placeholder="ELO rating" value="{{form.rating.value}}">
                      {{form.rating.errors}}
                      <i class="signal icon"></i>
                      <div class="ui corner label">
                        <i class="icon asterisk"></i>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="sex" checked>
                        <label>Male</label>
                      </div>
                  </div>
                  <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="sex">
                        <label>Female</label>
                      </div>
                  </div>
                  <div class="ui error message">
                    <div class="header">We noticed some issues</div>
                  </div>
                </div>
          </form>
                 <div class="actions">
            <div class="ui buttons">
              <div onClick="document.forms['add-user'].submit();" class="ui positive button">Add player</div>
            </div>
        </div>
          </div>

{% endblock %}

