{% extends "base.html" %}

{% load url from future %}


{% block content %}
        <h2>Add tournament</h2>
          <div class="content error-validation-form">
             <form id="add-t-form" class="ui form" action="{%url 'add_tournament'%}" method="post" name="add-tournament">
                {% csrf_token %}
                <div class="ui form segment">
                  <div class="field {%if form.name.errors %}error{% endif %}">
                    <label>Name</label>
                    <div class="ui left labeled icon input">
                      <input type="text" name="name" placeholder="Name" value="{{form.name.value}}">
                      <i class="flag icon"></i>
                      <div class="ui corner label">
                        <i class="icon asterisk"></i>
                      </div>
                    </div>
                      {{form.name.errors}}
                  </div>
                  <div class="field {%if form.startdate.errors %}error{% endif %}">
                    <label>Date</label>
                    <div class="ui left labeled icon input">
                      <input type="date" name="startdate" placeholder="Start date" value="{{form.startdate.value}}">
                      <i class="time icon"></i>
                      <div class="ui corner label">
                        <i class="icon asterisk"></i>
                      </div>
                    </div>
                        {{form.startdate.errors}}
                  </div>
                  <div class="field {%if form.description.errors %}error{% endif %}">
                    <label>Description</label>
                    <div class="ui left labeled icon input">
                      <input type="text" name="description" placeholder="Description" value="{{form.description.value}}">
                      <i class="info icon"></i>
                      <div class="ui corner label">
                        <i class="icon asterisk"></i>
                      </div>
                    </div>
                      {{form.description.errors}}

                  </div>
                  <div class="ui error message">
                    <div class="header">We noticed some issues</div>
                  </div>
                </div>
          </form>
          <div class="actions">
            <div class="ui buttons">
              <div class="ui submit positive button" onClick="document.forms['add-tournament'].submit();">Add tournament</div>
            </div>
          </div>
          </div>
{% endblock %}

