
{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#add-user').on('click', function(){
                $('#add-user-modal').modal('show');
            });
            $('.ui.radio.checkbox').checkbox();
        });
    </script>
<div class="ui celled grid">
<table class="ui table segment">
  <thead>
    <tr>
        <th>Name</th>
        <th>ELO rating</th>
    </tr>
  </thead>
  <tbody>
  {% if player_list|length = 0 %}
  <tr><td>Click add participant to create player</td></tr>
  {% else %}
  {%for player in player_list%}
    <tr>
      <td>{{player.name}}</td>
      <td>{{player.rating}}</td>
    </tr>
  {%endfor%}
  </tbody>
  {% endif %}
  {% if user.is_authenticated %}
  <tfoot>
    <tr><th colspan="3">
      <div id="add-user" class="ui teal labeled icon button"><i class="user icon"></i> Add participant</div>
      <div id="add-user-modal" class="ui modal small transition scrolling">
          <i class="close icon"></i>
          <div class="header">
            Add participant
          </div>
          <div class="content">
             <form action="{%url 'add_player'%}" method="post" name="add-user">
                {% csrf_token %}
                <div class="ui form segment">
                  <div class="field">
                    <label>Username</label>
                    <div class="ui left labeled icon input">
                      <input type="text" name="name" placeholder="Username">
                      <i class="user icon"></i>
                      <div class="ui corner label">
                        <i class="icon asterisk"></i>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <label>ELO rating</label>
                    <div class="ui left labeled icon input">
                      <input type="text" name="rating" placeholder="ELO rating">
                      <i class="signal icon"></i>
                      <div class="ui corner label">
                        <i class="icon asterisk"></i>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="sex" checked>
                        <label>Male</label>
                      </div>
                  </div>
                  <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="sex">
                        <label>Female</label>
                      </div>
                  </div>
                  <div class="ui error message">
                    <div class="header">We noticed some issues</div>
                  </div>
                </div>
          </form>
          </div>
          <div class="actions">
            <div class="ui buttons">
              <div class="ui button red">Cancel</div>
              <div class="or"></div>
              <div onClick="document.forms['add-user'].submit();" class="ui positive button">Add</div>
            </div>
          </div>
      </div>
    </th>
  </tr>
  </tfoot>
   {% endif %}
</table>
</div>
{% endblock %}

