<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>Chess tournament</title>
	<link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}semantic/minified/collections/menu.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}semantic/minified/elements/basic.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}semantic/minified/elements/input.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}semantic/minified/elements/label.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}semantic/minified/elements/button.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}semantic/minified/elements/icon.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}semantic/minified/elements/step.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}semantic/minified/collections/table.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}semantic/minified/collections/form.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}semantic/minified/modules/modal.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}semantic/minified/modules/dimmer.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}semantic/minified/modules/dropdown.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}semantic/minified/modules/transition.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}semantic/minified/modules/checkbox.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}semantic/minified/collections/table.min.css" />
    <!--{% block additional_css %}{% endblock %}-->
	<link rel="stylesheet" type="text/css" media="screen" href="{{MEDIA_URL}}semantic/semantic.css" />
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}semantic/minified/modules/modal.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}semantic/minified/modules/dimmer.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}semantic/minified/modules/dropdown.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}semantic/minified/modules/transition.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}semantic/minified/modules/checkbox.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}semantic/minified/modules/behavior/form.min.js"></script>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body class="left pushed">
<!--<a class="ui green button"><i class="add sign layout icon"></i>Add player</a>-->
<div class="ui floating vertical sidebar menu active">
  <a href="/" class="{% if tr_active %} active {% endif %} item">
    <i class="tasks icon"></i>
    Tournament
  </a>
  <a href="/players" class="{% if pl_active %} active {% endif %} item">
    <i class="users icon"></i>
    All players
  </a>
</div>
    {% block content %}{% endblock %}
</body>
</html>