{% extends "base.html" %}
{% load url from future %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function(){
    {% if user.is_authenticated %}
        $('.edit-result').dropdown({
                onChange: function(value){
                    $(this).find('.curr-result').val($(this).find('.item.active').attr('res'));
                    $(this).find('form').submit();
                }
        });
    {% endif %}
    });
</script>
  <h1>{{tournament.name}}</h1>
 {%if message %}
    <h2>{{message}}</h2>
 {% else %}
 <div class="ui small steps">
      {% for st, active in steps %}
            {%if active%}
                <a href="{{st}}" class="ui step active">Step {{st}}</a>
            {% else %}
                <a href="{{st}}" class="ui step">Step {{st}}</a>
            {% endif %}
      {% endfor %}
     {% if tournament_is_end %}
      <a href="/tournaments/{{tournament.id}}/results" class="ui step">
          Tournament results
      </a>
     {% endif %}
 </div>
  <h3>Parts</h3>
  <table class="ui table segment">
  <thead>
    <tr>
        <th>Game</th>
        <th>Result</th>
    </tr>
  </thead>
  <tbody>
  {%for part in part_list%}
    <tr>
      <td>{{part.first_player}} vs {{part.second_player}}</td>
      <td>
        <div class="ui dropdown inline edit-result">
          <form action="{% url 'change_result' part.id %}" method="post" name="change-result">
            {% csrf_token %}
            <input type="hidden" class="curr-result" name="result" value="-1">
            <input type="hidden" name="tournament_id" value="{{ tournament.id }}">
          </form>
          <div class="text">{{part.get_result_display}}</div>
          {% if user.is_authenticated %}
          <i class="dropdown icon"></i>
           {% endif %}
          <div class="menu">
            <div class="item" res="1">{{part.first_player}}'s win</div>
            <div class="item" res="2">{{part.second_player}}'s win</div>
            <div class="item" res="0">Draw</div>
          </div>
        </div>
      </td>
    </tr>
  {%endfor%}
  </tbody>
  <tfoot>
    <tr><th colspan="3">
    </th>
  </tr></tfoot>
</table>
<h3>Players</h3>
<table class="ui table segment">
    <thead>
        <tr>
           <th>Name</th>
           <th>Scores</th>
           <th>ELO rating</th>
        </tr>
    </thead>
    <tbody>
        {%for player in player_list%}
            <tr>
                <td>{{player.name}}</td>
                <td>{{player.scores}}</td>
                <td>{{player.rating}}</td>
            </tr>
        {% endfor %}
    </tbody>
 </table>
{% endif %}
{% endblock %}

