{% extends "base.html" %}
{% load url from future %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#add-user').on('click', function(){
            $('#add-user-modal').modal('show');
        });
        $('.ui.checkbox').checkbox()
    });
</script>
  <h1>{{tournament.name}}</h1>
  <h2>Description: {{tournament.description}}</h2>
  <div class="ui small steps">
  {% if steps|length < 1 %}
      {% if player_list|length > 1 and user.is_authenticated %}
        <a href="{{tournament.id}}/step/1" class="ui step">Start tournament</a>
      {% else %}
        <a href="#" class="ui step disabled" title="Add players to this tournament to start tournament">Start tournament</a>
      {% endif %}
  {% else %}
  {% for st in steps %}
      <a href="{{tournament.id}}/step/{{st}}" class="ui step">
        Step {{st}}
      </a>
  {% endfor %}
  {% endif %}
  {% if tournament_is_end %}
  <a href="/tournaments/{{tournament.id}}/results" class="ui step">
      Tournament results
  </a>
 {% endif %}
  </div>
  <h3>List of players</h3>
<table class="ui table segment">
    <thead>
        <tr>
           <th>Name</th>
           <th>Rating ELO</th>
           <th>Scores</th>
        </tr>
    </thead>
    <tbody>
    {% if player_list|length = 0%}
        <tr><td>Click 'add player' to add player to this tournament</td></tr>
    {% else %}
        {%for player in player_list%}
            <tr>
                <td>{{player.name}}</td>
                <td>{{player.rating}}</td>
                <td>{{player.scores}}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    {% if user.is_authenticated and tournament.step = 0 %}
    <tfoot>
        <tr>
            <td>
                <div id="add-user" class="ui teal labeled icon button"><i class="level up icon"></i> Add player</div>
                      <div id="add-user-modal" class="ui modal small transition scrolling">
          <i class="close icon"></i>
          <div class="header">
            Add participant
          </div>
          <div class="content">
             <form action="{{tournament.id}}/add_players_to_trt/" method="post" name="add-user-to-trt">
                {% csrf_token %}
                <div class="ui form segment">
                    {% if players_list_exclude|length = 0%}
                       Empty. All users added.
                    {% else %}
                    <table class="table ui segment">
                        <thead>
                            <th>Add</th>
                            <th>Player</th>
                            <th>ELO rating</th>
                        </thead>
                        {% for pl in players_list_exclude%}
                        <tr>
                            <td>
                                <div class="ui checkbox">
                                    <input id="{{pl.id}}" type="checkbox" name="{{pl.id}}">
                                    <label>{{pl.name}}</label>
                                </div>
                            </td>
                            <td>{{pl.name}}</td>
                            <td>{{pl.rating}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
             </form>
          </div>
          <div class="actions">
            <div class="ui buttons">
              <div class="ui button red">Cancel</div>
              <div class="or"></div>
              <div onClick="document.forms['add-user-to-trt'].submit();" class="ui positive button">Add</div>
            </div>
          </div>
      </div>
            </td>
        </tr>
    </tfoot>
    {% endif %}
 </table>
{% endblock %}