{% extends "base.html" %}
{% load url from future %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.edit-result').dropdown({
                onChange: function(value){
                    $(this).find('.curr-result').val($(this).find('.item.active').attr('res'));
                    $(this).find('form').submit();
                }
        });
    });
</script>
  <h1>{{tournament.name}}</h1>
 <div class="ui small steps">
       {% for st, active in steps %}
            {%if active%}
                <a href="step/{{st}}" class="ui step active">Step {{st}}</a>
            {% else %}
                <a href="step/{{st}}" class="ui step">Step {{st}}</a>
            {% endif %}
      {% endfor %}
      <a href="" class="ui step active">
          Tournament results
      </a>
 </div>
<h3>Players places</h3>
<table class="ui table segment">
    <thead>
        <tr>
           <th>Place</th>
           <th>Name</th>
           <th>Scores</th>
           <th>ELO rating</th>
        </tr>
    </thead>
    <tbody>
        {%for player in player_list%}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{player.name}}</td>
                <td>{{player.scores}}</td>
                <td>{{player.rating}}</td>
            </tr>
        {% endfor %}
    </tbody>
 </table>
{% endblock %}

