{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.edit-result').dropdown();
    });
</script>
  <table class="ui table segment">
  <thead>
    <tr>
        <th>Game</th>
        <th>Result</th>
    </tr>
  </thead>
  <tbody>
  {%for part in part_list%}
    <tr>
      <td>{{part.first_player}} vs {{part.second_player}}</td>
      <td>
        <div class="ui dropdown inline edit-result">
          <div class="text">{%if part.result%} {{part.result}} {%else%} Result {%endif%}</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">{{part.first_player}}'s win</div>
            <div class="item">{{part.second_player}}'s win</div>
            <div class="item">Draw</div>
          </div>
        </div>
      </td>
    </tr>
  {%endfor%}
  </tbody>
  <tfoot>
    <tr><th colspan="3">
    </th>
  </tr></tfoot>
</table>
{% endblock %}

