{% extends "base.html" %}
{% load url from future %}


{% block content %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.edit-result').dropdown();
        $('#add-tournament').on('click', function(){
            $('#add-tournament-modal').modal('show');
        });
    });
</script>
  <table class="ui table segment">
  <thead>
    <tr>
        <th>Tournament name</th>
        <th>Date</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
  {% if tournaments_list %}
      {%for tr in tournaments_list%}
        <tr>
          <td><a style="text-decoration: underline" href="/tournaments/{{tr.id}}">{{tr.name}}</a></td>
          <td>{{tr.date}}</td>
          <td>{{tr.description}}</td>
        </tr>
      {%endfor%}
  {% else %}
    <tr>
      <td>Empty. Click 'add tournament' to create new chess tournament.</td>
    </tr>
  {% endif %}
  </tbody>
  {% if user.is_authenticated %}

<tfoot>
    <tr><th colspan="3">
      <div id="add-tournament" class="ui teal labeled icon button"><i class="plus icon"></i> Add tournament</div>
      <div id="add-tournament-modal" class="ui modal small transition scrolling">
          <i class="close icon"></i>
          <div class="header">
            Add tournament
          </div>
          <div class="content">
             <form id="add-t-form" class="ui form" action="{%url 'add_tournament'%}" method="post" name="add-tournament">
                {% csrf_token %}
                <div class="ui form segment">
                  <div class="field">
                    <label>Name</label>
                    <div class="ui left labeled icon input">
                      <input type="text" name="name" placeholder="Name" required>
                      <i class="flag icon"></i>
                      <div class="ui corner label">
                        <i class="icon asterisk"></i>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <label>Date</label>
                    <div class="ui left labeled icon input">
                      <input type="date" name="startdate" placeholder="Start date" required>
                      <i class="time icon"></i>
                      <div class="ui corner label">
                        <i class="icon asterisk"></i>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <label>Description</label>
                    <div class="ui left labeled icon input">
                      <input type="text" name="description" placeholder="Description" required>
                      <i class="info icon"></i>
                      <div class="ui corner label">
                        <i class="icon asterisk"></i>
                      </div>
                    </div>
                  </div>
                  <div class="ui error message">
                    <div class="header">We noticed some issues</div>
                  </div>
                </div>
          </form>
          </div>
          <div class="actions">
            <div class="ui buttons">
              <div class="ui button red">Cancel</div>
              <div class="or"></div>
              <div class="ui submit positive button" onClick="document.forms['add-tournament'].submit();">Add</div>
            </div>
          </div>
      </div>
    </th>
  </tr>
  </tfoot>
  {% endif %}
</table>
{% endblock %}